<div class="unicorn-dark-theme appBar">
    <md-toolbar color="primary" >
        <button  md-button class="md-icon-button" aria-label="Settings" *ngIf="false">
            <i md-icon class="material-icons">menu</i>
        </button>
        <span class="left">
            <img src="/Images/Bosch_logo.png" width="180px" height="30px"/>
        </span>
        <span flex></span>
        <span class="right">Login</span>
    </md-toolbar>
</div>

<!-- Router Outlet -->
<router-outlet></router-outlet>