<div id="dialogMain">
    <div id="dialogHead">
        <h3 align="center" class="text-primary">CREATE NEW TEST</h3>
        <md-divider></md-divider>
    </div>
    <div id="dialogContent">
        <form ngForm [formGroup]="addObsForm" class="addTestFormCont" ng-submit="saveObservation($event)">
            <div class="testDetails" *ngIf="!testDataEdit">
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">looks_one</i>
                        <span>Number</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="number" class="addTestFormInp" placeholder="Number"/>
                    </md-input-container>
                </div>
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">short_text</i>
                        <span>Short Text</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="shortText" class="addTestFormInp" placeholder="Short Text"/>
                    </md-input-container>
                </div>
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">spa</i>
                        <span>Characterestics</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="inspectionChar" class="addTestFormInp" placeholder="Inspection Characterestics"/>
                    </md-input-container>
                </div>
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">build</i>
                        <span>Tool Number</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="toolNumber" class="addTestFormInp" placeholder="Tool Number"/>
                    </md-input-container>
                </div>
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">remove_red_eye</i>
                        <span>Inspection Method</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="inspectionMethod" class="addTestFormInp" placeholder="Inspection Method"/>
                    </md-input-container>
                </div>
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">gavel</i>
                        <span>Maintainance Description</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="maintainanceDesc" class="addTestFormInp" placeholder="Maintainance Description"/>
                    </md-input-container>
                </div>
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">folder_open</i>
                        <span>Record Description</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="recordDesc" class="addTestFormInp" placeholder="Record Description"/>
                    </md-input-container>
                </div>
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">insert_comment</i>
                        <span>Instruction Method Key</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="insMetKey" class="addTestFormInp" placeholder="Instruction Method Key"/>
                    </md-input-container>
                </div>
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">description</i>
                        <span>Product Result Description</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="prodResDesc" class="addTestFormInp" placeholder="Product Result Description"/>
                    </md-input-container>
                </div>
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">accessibility</i>
                        <span>Responsible Description</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="respDesc" class="addTestFormInp" placeholder="Responsible Description"/>
                    </md-input-container>
                </div>
            </div>
            <div class="measurements" *ngIf="testDataEdit">
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">trending_down</i>
                        <span>Minimum</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="minVal" class="addTestFormInp" placeholder="Minimum Value"/>
                    </md-input-container>
                </div>
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">trending_up</i>
                        <span>Maximum</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="maxVal" class="addTestFormInp" placeholder="Maximum Value"/>
                    </md-input-container>
                </div>
                <div class="addTestFieldCont">
                    <div class="addTestFieldLabel">
                        <i class="material-icons md-18 addTestFormIcon">album</i>
                        <span>Precision</span>
                    </div>
                    <md-input-container>
                        <input mdInput formControlName="precision" class="addTestFormInp" placeholder="Precision Value"/>
                    </md-input-container>
                </div>
            </div>
        </form>
    </div>
    <div class="addTestFormAction">
        <button class="addTestFormActionButton" md-raised-button color="info" (click)="testDataEdit = !testDataEdit" *ngIf="!testDataEdit">MEASUREMENTS</button>
        <button class="addTestFormActionButton" md-raised-button color="info" (click)="testDataEdit = !testDataEdit" *ngIf="testDataEdit">TEST DETAILS</button>
        <button class="addTestFormActionButton" md-raised-button color="primary" (click)="saveObservation()">SAVE</button>
    </div>
</div>