<div class="productDetailsPage">
    <div class="productDetails">
        <md-card class="prorDetCardSec">
            <md-card-title><span class="h2 text-primary">Product Details</span></md-card-title>
            <md-card-title>{{product.name | uppercase}}</md-card-title>
            <h4 class="text-primary">{{product.number}}</h4>
            <md-card-content>
                <div class="productDetailsCont">
                    <md-list class="prodDetSec" style="flex:2" dense>
                        <h3>Product Line</h3>
                        <h4 class="text-primary">{{product.Line}}</h4>
                    </md-list>
                 </div>
            </md-card-content>
            <md-card-actions>
                <!--<button md-button>EDIT</button>-->
            </md-card-actions>
        </md-card>
        <md-card *ngIf="!selectedObs">
            <md-card-title>
                Select Card
            </md-card-title>
            <md-card-content>
                <div id="notSelectedObs">
                    <i md-icon class="material-icons md-24 obsFieldIcon text-warning">info</i>
                    <span class="text-warning">Please choose an observation from the right to view / modify values.</span>
                </div>
            </md-card-content>
        </md-card>
        <md-card class="obsCard" *ngIf="selectedObs">
            <md-card-title>
                <h2>Test Details</h2>
            </md-card-title>
            <md-card-content>
                <div class="testDetailsCont" *ngIf="!editTest">
                    <div class="testInfoField">
                        <h2 md-line>Number</h2>
                        <p md-line>{{selectedObs.number}}</p>
                    </div>
                    <div class="testInfoField">
                        <h2 md-line>Inspection Characterestics</h2>
                        <p md-line>{{selectedObs.inspectionChar}}</p>
                    </div>
                    <div class="testInfoField">
                        <h2 md-line>Tool Number</h2>
                        <p md-line>{{selectedObs.toolNumber || 'NO RECORD'}}</p>
                    </div>
                    <div class="testInfoField">
                        <h2 md-line>Inspection Method</h2>
                        <p md-line>{{selectedObs.inspectionMethod || 'NO RECORD'}}</p>
                    </div>
                    <div class="testInfoField">
                        <h2 md-line>Maintainance Description</h2>
                        <p md-line>{{selectedObs.maintainanceDesc || 'NO RECORD'}}</p>
                    </div>
                    <div class="testInfoField">
                        <h2 md-line>Record Description</h2>
                        <p md-line>{{selectedObs.recordDesc || 'NO RECORD'}}</p>
                    </div>
                    <div class="testInfoField">
                        <h2 md-line>Instruction Method Key</h2>
                        <p md-line>{{selectedObs.insMetKey || 'NO RECORD'}}</p>
                    </div>
                    <div class="testInfoField">
                        <h2 md-line>Product Result Description</h2>
                        <p md-line>{{selectedObs.prodResDesc || 'NO RECORD'}}</p>
                    </div>
                    <div class="testInfoField">
                        <h2 md-line>Responsible Description</h2>
                        
                        <p md-line>{{selectedObs.respDesc || 'NO RECORD'}}</p>
                    </div>
                </div>

                <form #tdForm="ngForm" [formGroup]="testDetailsForm" *ngIf="editTest" (ngSubmit)="saveTestData($event)">
                    <div class="testDetailsCont" >
                        <div class="testInfoField">
                            <h3 md-line>Number</h3>
                            <md-input-container>
                                <input mdInput name="number" required placeholder="Enter Number" [formControl]="testDetailsForm.controls['number']"/>
                            </md-input-container>
                        </div>
                        <div class="testInfoField">
                            <h3 md-line>Inspection Characterestics</h3>
                            <md-input-container>
                                <input mdInput name="inspectionChar" required placeholder="Enter Inspection Characterestics" [formControl]="testDetailsForm.controls.inspectionChar"/>
                            </md-input-container>
                        </div>
                        <div class="testInfoField">
                            <h3 md-line>Tool Number</h3>
                            <md-input-container>
                                <input mdInput name="toolNumber" required placeholder="Enter Tool Number" [formControl]="testDetailsForm.controls.toolNumber"/>
                            </md-input-container>
                        </div>
                        <div class="testInfoField">
                            <h3 md-line>Inspection Method</h3>
                            <md-input-container>
                                <input mdInput name="inspectionMethod" required placeholder="Enter Inspection Method" [formControl]="testDetailsForm.controls.inspectionMethod"/>
                            </md-input-container>
                        </div>
                        <div class="testInfoField">
                            <h3 md-line>Maintainance Description</h3>
                            <md-input-container>
                                <input mdInput name="maintainanceDesc" required placeholder="Enter Maintainance Description" [formControl]="testDetailsForm.controls.maintainanceDesc"/>
                            </md-input-container>
                        </div>
                        <div class="testInfoField">
                            <h3 md-line>Record Description</h3>
                            <md-input-container>
                                <input mdInput name="recordDesc" required placeholder="Enter Record Description" [formControl]="testDetailsForm.controls.recordDesc"/>
                            </md-input-container>
                        </div>
                        <div class="testInfoField">
                            <h3 md-line>Instruction Method Key</h3>
                            <md-input-container>
                                <input mdInput name="insMetKey" required placeholder="Enter Instruction Method Key" [formControl]="testDetailsForm.controls.insMetKey"/>
                            </md-input-container>
                        </div>
                        <div class="testInfoField">
                            <h3 md-line>Result Description</h3>
                            <md-input-container>
                                <input mdInput name="prodResDesc" required placeholder="Enter Result Description" [formControl]="testDetailsForm.controls.prodResDesc"/>
                            </md-input-container>
                        </div>
                        <div class="testInfoField">
                            <h3 md-line>Responsible Description</h3>
                            <md-input-container>
                                <input mdInput name="respDesc" required placeholder="Enter Responsible Description" [formControl]="testDetailsForm.controls.respDesc"/>
                            </md-input-container>
                        </div>
                    </div>
                </form>
            </md-card-content>
            <md-card-actions>
                <button md-icon-button *ngIf="editTest" (click)="saveTestData()"><i md-icon class="material-icons md-24 text-primary">save</i></button>
                <button md-icon-button *ngIf="!editTest" (click)="this.editTest=true"><i md-icon class="material-icons md-24">edit</i></button>
            </md-card-actions>
        </md-card>
        <md-card class="obsCard" *ngIf="selectedObs">
            <md-card-title>
                <h2>Measurements</h2>
            </md-card-title>
            <md-card-content>
                    <div class="testDetailsCont" *ngIf="!editTestMeas">
                        <div class="testInfoField" *ngIf="!selectedObs.valBool">
                            <h2 md-line>Minimum</h2>
                            <p md-line>{{selectedObs.minVal || 'NO RECORD'}}</p>
                        </div>
                        <div class="testInfoField" *ngIf="!selectedObs.valBool">                        
                            <h2 md-line>Maximum</h2>
                            <p md-line>{{selectedObs.maxVal  || 'NO RECORD'}}</p>
                        </div>
                        <div class="testInfoField" *ngIf="!selectedObs.valBool">
                            <h2 md-line>Precision</h2>
                            <p md-line>{{selectedObs.precision || 'NO RECORD'}}</p>
                        </div>
                        <div class="testInfoField" *ngIf="selectedObs.valBool">
                            <h2 md-line>Question</h2>
                            <p md-line>{{selectedObs.boolQuestion || 'NO RECORD'}}</p>
                        </div>
                        
                    </div>
                <form *ngIf="editTestMeas" [formGroup]="testDataForm" (ngSubmit) = "saveTestMeas()">
                    <md-slide-toggle color="primary" name="isBoolMeas" [formControl]="testDataForm.controls.valBool">
                        <h4>Is Yes / No?</h4>
                    </md-slide-toggle>
                    <div class="testDetailsCont">
                        <div class="testInfoField" *ngIf="!testDataForm.controls.valBool.value">
                            <h3 md-line>Minimum</h3>
                            <md-input-container>
                                <input mdInput name="minVal" required placeholder="Enter Minimum Value" [formControl]="testDataForm.controls.minVal"/>
                            </md-input-container>
                        </div>
                        <div class="testInfoField" *ngIf="!testDataForm.controls.valBool.value">
                            <h3 md-line>Maximum</h3>
                            <md-input-container>
                                <input mdInput name="maxVal" required placeholder="Enter Maximum Value" [formControl]="testDataForm.controls.maxVal"/>
                            </md-input-container>
                        </div>
                        <div class="testInfoField" *ngIf="!testDataForm.controls.valBool.value">
                            <h3 md-line>Precision</h3>
                            <md-input-container>
                                <input mdInput name="precision" required placeholder="Enter Precision Value" [formControl]="testDataForm.controls.precision"/>
                            </md-input-container>
                        </div>
                        <div class="testInfoField testInfoQuestion" *ngIf="testDataForm.controls.valBool.value">
                            <h3 md-line>Question</h3>
                            <md-input-container>
                                <textarea mdInput name="boolQuestion" required placeholder="Enter Question" [formControl]="testDataForm.controls.boolQuestion"></textarea>
                            </md-input-container>
                        </div>
                    </div>
                </form>
            </md-card-content>
            <md-card-actions>
                <button md-icon-button *ngIf="editTestMeas" (click)="saveTestMeas()"><i md-icon class="material-icons md-24 text-primary">save</i></button>
                <button md-icon-button *ngIf="!editTestMeas" (click)="editTestMeas = true"><i md-icon class="material-icons md-24">edit</i></button>
            </md-card-actions>
        </md-card>
    </div>
    <div class="observationList">
        <div class="obsListHead">
            <h3 align="center">
                Product Tests
            </h3>
            <button md-raised-button (click)="openAddObs()">NEW</button>
        </div>
        <div class="obListItems">
            <bsh-observation-list [prodNumber]="product.id" (obsSelect)="onObsSelect($event)"></bsh-observation-list>
        </div>
    </div>
</div>