#productsContainer {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
}
.searchBox {
    /*float: right;*/
    width: 300px;
    display: flex;
}
md-input.searchImp {
    width: 90%;
}
md-card.prodListCard {
    width: 350px;
    margin-top: 15px;
    padding-bottom: 0px;
}

md-card.prodListCard:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


md-card.prodListCard > md-card-content > p.prodinfo {
    font-size: 20;
}

p.prodinfo > span.infolbl {
    color: rgb(27, 9, 9);
    font-weight: 300;
    display: inline-block;
    width: 150px;
}
i.fabBut {
    padding-top: 0px;
}

.groupSelection {
    flex-direction: column;
}

button.groupFilterBut {
    background-color: gray;
    color: #222222;
    width: 120px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24;
    margin-left: 5px;
}
button.groupFilterBut:hover {
    background-color: #3f51b5;
}
div.prodGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
div.searchToolbox {
    float: right;
    justify-content: row;
    flex-direction: column;
}