<div class="productDetailsPage">
    <div class="productDetails">
        <div>
            <a [routerLink]="['/dash/products/']">
                <button md-icon-button color="primary"><i md-icon class="text-primary material-icons md-24">arrow_back</i></button>
            </a>
            <span class="h2 <text-primary></text-primary>">Product Details</span>
        </div>

        <md-card>
            <md-card-title>{{product.name | uppercase}}</md-card-title>
            <h4 class="text-primary">{{product.number}}</h4>
            <md-card-content>
                <div class="productDetailsCont">
                    <md-list class="prodDetSec" style="flex:2" dense>
                        <h3>Product Line</h3>
                        <h4 class="text-primary">{{product.Line}}</h4>
                    </md-list>
                    <!--<md-list class="prodDetSec" style="flex:1">
                        <md-list-item class="prodDetTxt"> 
                            <p class="" md-line>Created On</p>
                            <span class="desc"  md-line>{{product.createdOn | date: "fullDate"}}</span> 
                        </md-list-item>
                        <md-list-item class="prodDetTxt"> 
                            <p class="" md-line>Created By</p>
                            <span class="desc"  md-line>{{product.createdBy}}</span> 
                        </md-list-item>
                    </md-list>-->
                </div>
            </md-card-content>
            <md-card-actions>
                <!--<button md-button>EDIT</button>-->
            </md-card-actions>
        </md-card>
        <md-card class="obsCard">
            <i md-icon class="material-icons md-24 obsFieldIcon text-warning">info</i>
            <span class="text-warning">Please choose an observation from the right to view / modify values.</span>
        </md-card>
    </div>
    <div class="observationList">
        <div class="obsListHead">
            <h3 align="center">Product Tests</h3>
        </div>
        <div class="obListItems">
            <bsh-observation-list [prodNumber]="product.id"></bsh-observation-list>
        </div>
    </div>
</div>