md-list-item.prodDetTxt {
    justify-content: flex-start;
}

div.productDetailsCont {
    display: flex;
    flex-flow: column;
    flex-direction: row;
}
md-list.prodDetSec {
    flex: 1;
    
    flex-direction: row;
}

md-card.obsCard {
    margin-top: 20px;
    height: 400px;
    font-size: 24px;
}

div.productDetailsPage {
    display: flex;
    flex-direction: row;  
}
div.productDetails {
    flex: 4;
}
div.observationList {
    margin-left: 30px;
    width: 350px;
    height: 100%;
    /*border-left: solid #AFAFAF 2px;*/
    overflow-y: scroll;
}
div.observationList::-webkit-scrollbar-thumb {
	background-color: #929292;
}
div.observationList::-webkit-scrollbar-track {
	border-radius: 15px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FFFFFF;
}
div.observationList::-webkit-scrollbar {
    width: 12px;
	background-color: #F5F5F5;
    opacity: 0;
}

div.obListItems {
    flex-direction: row;
}