<md-card class="prodListCard">
    <!--<div class="row">-->
        <md-card-content>
            <div class="infocontainer" *ngIf="!edit">
                <p class="prodinfo">
                    <span class="infolbl">Name</span>
                    <span class="infoVal">{{product.name}}</span>
                </p>
                <p class="prodinfo">
                    <span class="infolbl">Number</span>
                    <span class="infoVal">{{product.number}}</span>
                </p>
                <p class="prodinfo">
                    <span class="infolbl">Line</span>
                    <span class="infoVal">{{product.lineName}}</span>
                </p>
                <p class="prodinfo">
                    <span class="infolbl">Group</span>
                    <span class="infoVal">{{product.groupName}}</span>
                </p>
            </div>
            <div class="editContainer" *ngIf="edit">
                <form #prodForm="ngForm" (ngSubmit)="onSave(f)">
                    <md-input-container class="prodinfo">
                        <input mdInput name="name" required placeholder="Enter Product Name" ngControl="name"/>
                    </md-input-container>
                    <md-input-container class="prodinfo">
                        <input mdInput name="number" required placeholder="Enter Product Number" ngControl="number"/>
                    </md-input-container>
                    <md-input-container class="prodinfo">
                        <input mdInput name="lineID" required placeholder="Enter Line Name" ngControl="lineID"/>
                    </md-input-container>
                    <md-input-container class="prodinfo">
                        <input mdInput name="groupName" required placeholder="Enter Group Name" ngControl="groupName"/>
                    </md-input-container>
                </form>
            </div>
        </md-card-content>
        <md-card-actions align="right" *ngIf="!edit">
            <a [routerLink]="['/dash/products/'+product.id]"><button md-icon-button><i md-icon class="material-icons md-24">open_in_new</i></button></a>
            <button md-icon-button (click)="editProd()"><i md-icon class="material-icons md-24">edit</i></button>
        </md-card-actions>
        <md-card-actions align="right" *ngIf="edit">
            <button md-icon-button (click)="onSave()"><i md-icon class="material-icons md-24">save</i></button>
        </md-card-actions>
    <!--</div>-->
</md-card>