<div class="subNavContainer">
    <button md-mini-fab (click)="toggleAdd()" color="primary">
        <i md-icon class="material-icons md-24 fabBut" *ngIf="!addEnabled">add</i>
        <i md-icon class="material-icons md-24 fabBut" *ngIf="addEnabled">close</i>
    </button>
    <md-card class="prodListCard" *ngIf="addEnabled">
        <form [formGroup]="prodForm" (submit)="addProduct($event)">
            <md-card-title>
                Add New Product
            </md-card-title>
            <md-card-content>
                <div class="editContainer">
                        <p class="prodinfo">
                            <md-input name="name" [formControl]="prodForm.controls['name']" required placeholder="Enter Product Name" ></md-input>
                        </p>
                        <p class="prodinfo">
                            <md-input name="number" required [formControl]="prodForm.controls['number']" placeholder="Enter Product Number" ></md-input>
                        </p>
                        <p class="prodinfo">
                            <md-input name="lineID" required [formControl]="prodForm.controls['lineID']" placeholder="Enter Line ID" ></md-input>
                        </p>
                </div>
            </md-card-content>
            <md-card-actions align="right" *ngIf="!edit">
                <button md-icon-button>
                    <a><button type="submit" md-icon-button><i md-icon class="material-icons md-24">save</i></button></a>
                </button>
            </md-card-actions>
        </form>
    </md-card>

    <h2 class="text-primary">Products List </h2>
    <div id="productsContainer">
        <bsh-product *ngFor="let prod of products" [product]="prod"></bsh-product>
    </div>
    <!--<button md-fab color="primary" (click)="toggleAdd()" color="blue">
        <button md-icon-button><i md-icon class="material-icons md-24 fabBut">add</i></button>
    </button>-->
</div>