div.loginCard {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
md-card.cardContainer {
    width: 50%;    
}
md-card.cardContainer md-input {
    width: 100%;
}
md-card.cardContainer button[md-raised-button] {
    display: block;
}