div.loginCard {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
md-card.cardContainer {
    width: 50%;    
}
md-card.cardContainer input {
    width: 100%;
    overflow: inherit;
}
md-card.cardContainer button[md-raised-button] {
    display: block;
}

md-input-container.md-input-focused label {
  color: blue;
  overflow: visible !important;
}