<!-- <div layout="column"> -->
  <md-sidenav-container>
    <md-sidenav style="height:90%;" class="bshSidebar" #left (open)="mybutton.focus()" [opened]="true" mode="side" layout-padding>
        <md-toolbar>
            <div style="display: block; color: grey;">
                <md-toolbar-row>
                    <i md-icon class="material-icons"></i>
                </md-toolbar-row>
            </div>
        </md-toolbar>
        <md-nav-list>
            <md-list-item class="sidenavListItem sidenavListItemSelected">
                <a class="sidenavItem" [routerLink]="['/dash/home']">
                    <span class="menuSymb"><i md-icon class="material-icons">home</i></span>
                    <label class="menuLbl">Home</label>
                </a>
            </md-list-item>
            <md-list-item class="sidenavListItem">
                <a class="sidenavItem" [routerLink]="['/dash/products']">
                    <span class="menuSymb"><i md-icon class="material-icons">party_mode</i></span>
                    <label class="menuLbl">Products</label>
                </a>
            </md-list-item>
            <md-list-item class="sidenavListItem">
                <a class="sidenavItem" [routerLink]="['/dash/settings']">
                    <span class="menuSymb"><i md-icon class="material-icons">settings</i></span>
                    <label class="menuLbl">Settings</label>
                </a>
            </md-list-item>
            <md-list-item class="sidenavListItem">
                <a class="sidenavItem" [routerLink]="['/dash/settings']">
                    <span class="menuSymb"><i md-icon class="material-icons">input</i></span>
                    <label class="menuLbl">Logout</label>
                </a>
            </md-list-item>
            <!--<md-list-item>
                <button class="sidenavItem" md-raised-button class="md-raised md-primary" #mybutton (click)="left.close()">Close</button>
            </md-list-item>-->
        </md-nav-list>            
    </md-sidenav>
    <div layout-padding style="height: 95%" class="mainContent">
        <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
<!-- </div> -->