md-sidenav.bshSidebar {
    background-color : #FFFFFF;
    width: 220px;
}
md-list-item.sidenavListItem {
    flex: 1;
    
}
md-list-item.sidenavListItemSelected {
    background-color: #929292;
}
md-list-item.sidenavListItem:hover {
    background-color: #A2A2A2;
    color: #2a6496;
    border-left: solid red 20px;
    margin-left: -20;
}
.sideNavItem {
    font-size: 32;
}
.sideNavItem:hover {
    background-color: #A2A2A2;
}

md-sidenav > md-nav-list > a > md-list-item > div {
    flex: 1;
}
a.sidenavItem:hover {
    text-decoration: none;
    
}
a.sidenavItem:active {
    color: #2a6496;
    text-decoration: none;
}
label.menuLbl {
    vertical-align: bottom;
    font-weight: normal;
    font-size: 26;
}

label.menuLbl:hover{
    vertical-align: bottom;
}

span.menuSymb > i{
    font-size: 26;
    margin-right: 2px;
}

.mat-sidenav-container {
   height: 90%;
   min-height: 90%;
   width: 100%;
   min-width: 100%;
}